[submodule "submodules/symfony"]
	path = submodules/symfony
	url = https://github.com/symfony/symfony.git
[submodule "submodules/PEAR2_Console_Color"]
	path = submodules/PEAR2_Console_Color
	url = https://github.com/pear2/PEAR2_Console_Color.git
[submodule "submodules/PEAR2_Console_CommandLine"]
	path = submodules/PEAR2_Console_CommandLine
	url = https://github.com/pear2/PEAR2_Console_CommandLine.git
[submodule "submodules/PEAR2_Exception"]
	path = submodules/PEAR2_Exception
	url = https://github.com/pear2/PEAR2_Exception.git
